@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
}
:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(216, 255, 232);
  box-shadow: 0px 0px 100px 30px rgb(216, 255, 232);
  border: solid rgb(216, 255, 232);
}

.title {
  color: aquamarine;
  padding: 20px 0;
}

.footer--nav {
  position: sticky;
  bottom: 0;
  background-color: white;
}
